Source: crtauth
Priority: extra
Maintainer: Noa Resare <noa@spotify.com>
Standards-Version: 3.9.3
Section: python
Build-depends: debhelper (>= 8), python, python-msgpack (>= 0.4.0)
X-Python-Version: >= 2.6

Package: crtauth
Architecture: all
Depends: python, python-msgpack (>= 0.4.0), ${python:Depends}, ${misc:Depends}
Description: Public key backed client/server authentication system
 crtauth is a system for authenticating a user to a centralized server. The
 initial use case is to create a convenient authentication for command line
 tools that interacts with a central server without resorting to
 authentication using a shared secret, such as a password.
